<div class="alert alert-success">
    [ Step 2 ] Select your current's project
</div>

<div class="row style-alt">
    {% for contract in user.contract if contract.clientId == clientId %}
        <!-- Contact Widget -->
            <div class="col-sm-4 col-lg-4">

                <div class="widget">
                    <div class="widget-simple">
                        <h4>
                            <a href="{{ url('add_invoice_for_project' , {'contractId':contract.id}) }}">{{ contract.projectName }}</a>
                            <br/>
                            <small>
                                Consultants for Project:<br/>
                                {% for user in contract.user %}

                                    {% if user.document %}
                                        <a>{{ user.document.englishName }}</a>
                                    {% else %}
                                        <a>{{ user.username }}</a>
                                    {% endif %}
                                {% endfor %}
                            </small>
                        </h4>
                    </div>
                </div>
            </div>
        <!-- END Contact Widget -->
    {% endfor %}
</div>