<div class="block">
    <!-- Account Status Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <span class="label label-warning">70%</span>
        </div>
        <h2><i class="fa fa-user"></i> Account <strong>Status</strong></h2>
    </div>
    <!-- END Account Status Title -->

    <!-- Account Stats Content -->
    <div class="row block-section text-center">
        <div class="col-xs-12">
            <div style="width: 80px; height: 80px; line-height: 80px;" class="pie-chart block-section easyPieChart" data-percent="70" data-line-width="2" data-bar-color="#e67e22" data-track-color="#ffffff">
                <img src="img/placeholders/avatars/avatar10.jpg" alt="avatar" class="pie-avatar img-circle">
                <canvas width="80" height="80"></canvas></div>
        </div>
    </div>
    <table class="table table-borderless table-striped table-vcenter">
        <tbody>
        <tr>
            <td class="text-right" style="width: 50%;"><strong>Active Plan</strong></td>
            <td>Business <a data-original-title="Upgrade to VIP" href="page_ready_pricing_tables.html" data-toggle="tooltip" title=""><i class="fa fa-arrow-up"></i></a></td>
        </tr>
        <tr>
            <td class="text-right"><strong>Plan Valid</strong></td>
            <td><span class="text-danger"><strong>5</strong> days left</span></td>
        </tr>
        <tr>
            <td class="text-right"><strong>Storage Usage</strong></td>
            <td class="text-warning"><strong>21</strong> of <strong>30</strong> GB</td>
        </tr>
        </tbody>
    </table>
    <!-- END Account Status Content -->
</div>