<div class="block">
    <!-- Online Users Title -->
    <div class="block-title">
        <h2><i class="fa fa-circle text-success"></i> Online <strong>Users</strong></h2>
    </div>
    <!-- END Online Users Title -->

    <!-- Online Users Content -->
    <div class="row text-center">
        <div class="col-xs-6 block-section">
            <a href="page_ready_user_profile.html">
                <img data-original-title="Username" src="img/placeholders/avatars/avatar13.jpg" alt="avatar" class="img-circle" data-toggle="tooltip" title="">
            </a>
        </div>
        <div class="col-xs-6 block-section">
            <a href="page_ready_user_profile.html">
                <img data-original-title="Username" src="img/placeholders/avatars/avatar9.jpg" alt="avatar" class="img-circle" data-toggle="tooltip" title="">
            </a>
        </div>
        <div class="col-xs-6 block-section">
            <a href="page_ready_user_profile.html">
                <img data-original-title="Username" src="img/placeholders/avatars/avatar1.jpg" alt="avatar" class="img-circle" data-toggle="tooltip" title="">
            </a>
        </div>
        <div class="col-xs-6 block-section">
            <a href="page_ready_user_profile.html">
                <img data-original-title="Username" src="img/placeholders/avatars/avatar14.jpg" alt="avatar" class="img-circle" data-toggle="tooltip" title="">
            </a>
        </div>
    </div>
    <!-- END Online Users Content -->
</div>