{% extends "WebBackendBundle:Layouts:layouts.html.twig" %}

{% block icon %}fa fa-home{% endblock %}
{% block bigTitle %}{{ 'backend.client.bigTitle' | trans | raw }}{% endblock %}
{% block bigDescription %}{{ 'backend.client.bigDescription' | trans | raw }}{% endblock %}
{% block topName %}{{ 'backend.crumbs.client' | trans | raw }}{% endblock %}
{% block subName %}{% endblock %}
{% block body %}

    <div class="row">

        <div class="col-md-12">

            {% include "WebBackendBundle:Client:link.html.twig" %}


            {% include "WebBackendBundle:Client:update/index_content.html.twig" %}

        </div>

    </div>
{% endblock %}