<div class="row">
    <div class="col-sm-4 col-lg-4">
        <!-- create new clients -->
        <a href="{{ url('contact_list') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                    <i class="fa fa-file-text"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    Create New Clients Info<br>
                    <small>Mountain Trip</small>
                </h3>
            </div>
        </a>
        <!-- END -->
    </div>

    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('web_company_home') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                    <i class="gi gi-usd"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    Create New Companies Info<br>
                    <small>Sales Today</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="page_ready_inbox.html" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                    <i class="gi gi-envelope"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    Create New <strong>Project Info</strong>
                    <small>Support Center</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-4 col-lg-4">
        <!-- Widget -->
        <a href="{{ url('sharing_home') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
                    <i class="gi gi-file"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                     <strong>Sharing File</strong>
                    <small>Something looks like dropbox</small>
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

</div>