

<div class="block">
    <div class="block-title">
        <h2><strong>{{ 'backend.home.reimburse' | trans | raw }}</strong></h2>
    </div>

    <div class="block-content-full">
        <ul class="media-list media-feed media-feed-hover">

            <li id="newsfeed-update-example" class="media">
                {% include "WebBackendBundle:Home:index/invoice.html.twig" %}
            </li>

        </ul>
    </div>
</div>

<div class="block">
    <div class="block-title">
        <h2><strong>{{ 'backend.home.list' | trans | raw }}</strong></h2>
    </div>

    <div class="block-content-full">
        <ul class="media-list media-feed media-feed-hover">

            <li id="newsfeed-update-example" class="media">
                {% include "WebBackendBundle:Home:index/list.html.twig" %}
            </li>

        </ul>
    </div>
</div>