<div class="row">
    {% if is_granted('ROLE_ADMIN') %}
    <div class="col-sm-4 col-lg-4">
        <!-- create new clients -->
        <a href="{{ url('contact_list') }}" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                    <i class="fa fa-user"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    List All Contacts<br>
                    <small>Mountain Trip</small>
                </h3>
            </div>
        </a>
        <!-- END -->
    </div>
    {% endif %}
</div>