<div class="row">
    <div class="col-md-12">
        <!-- BOX -->
        <div class="box border">
            <div class="box-title">
                <h4><i class="fa fa-columns"></i><span class="hidden-inline-mobile">内容板</span></h4>
            </div>
            <div class="box-body">
                <div class="tabbable header-tabs">
                    <ul class="nav nav-tabs">
                        <li class=""><a href="#box_tab5" data-toggle="tab"><i class="fa fa-flask"></i> <span class="hidden-inline-mobile">公告</span></a></li>
                        <li class="active"><a href="#box_tab4" data-toggle="tab"><i class="fa fa-home"></i> <span class="hidden-inline-mobile">管理工具</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="box_tab4">


                            {% include "WebFrontendBundle:Default:home/link.html.twig" %}

                        </div>
                        <div class="tab-pane fade" id="box_tab5">
                            <p>内测</p>
                            <p> There were flying cantaloupes, rainbows and songs of happiness near by, I mean I was a little frightened by the flying fruit but I'll take this any day over prison inmates. I skipped closer and closer to the festivities and when I arrived I seen all my friends I had went to high school with there were holding hands and singing Kumbayah around the camp ice.. Yes It was a giant block of ice situated on three wood logs. </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /BOX -->
    </div>
</div>