{% extends "WebBackendBundle:Layouts:layouts.html.twig" %}

{% block icon %}fa fa-home{% endblock %}
{% block bigTitle %}{{ 'backend.contact.bigTitle' | trans | raw }}{% endblock %}
{% block bigDescription %}{{ 'backend.contact.bigDescription' | trans | raw }}{% endblock %}
{% block topName %}{{ 'backend.crumbs.contact' | trans | raw }}{% endblock %}
{% block subName %}{% endblock %}
{% block body %}

    {% include "WebBackendBundle:Contract:link.html.twig" %}

    <div class="row">
    <div class="col-md-8">
        <div class="block full">

            {% include "WebBackendBundle:Contract:index/index_content.html.twig" %}

        </div>
    </div>

    <div class="col-md-4">

        <div class="block full">

            <h4>Upload the Contract</h4>



        </div>



    </div>

{% endblock %}