<div class="header-section">
    <div class="row">
        <!-- Top Stats -->

            <div class="text-center">
                <div class="col-xs-4 col-sm-3">
                    <h4>
                        <a class="btn btn-info" href="{{ url('client_list') }}"><i class="fa fa-list"></i> {{ 'backend.client.list' | trans | raw }}</a>
                    </h4>
                </div>

                <div class="col-xs-4 col-sm-3">
                    <h4>
                        <a class="btn btn-primary" href="{{ url('client_home') }}"><i class="fa fa-plus"></i> {{ 'backend.client.create' | trans | raw }}</a>
                    </h4>
                </div>

                <!-- We hide the last stat to fit the other 3 on small devices -->
                <div class="col-sm-3 hidden-xs">

                </div>
            </div>

        <!-- END Top Stats -->
    </div>
</div>