{% extends "WebBackendBundle:Layouts:layouts.html.twig" %}


{% block body %}

    <div class="row">

    <div class="col-md-12">
        <div class="block">
        {% include "WebBackendBundle:Company:index/index_content.html.twig" %}
        </div>
    </div>

    </div>
{% endblock %}