{% extends "WebBackendBundle:Layouts:layouts.html.twig" %}

{% block icon %}fa fa-home{% endblock %}
{% block bigTitle %}{{ 'backend.contact.bigTitle' | trans | raw }}{% endblock %}
{% block bigDescription %}{{ 'backend.contact.bigDescription' | trans | raw }}{% endblock %}
{% block topName %}{{ 'backend.crumbs.contact' | trans | raw }}{% endblock %}
{% block subName %}{% endblock %}
{% block body %}


    <div class="block full">

        {% include "WebBackendBundle:Inbox:index/index_content.html.twig" %}

    </div>

{% endblock %}